html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body { background: none; }
header, footer { display: none; }
.list-inline {
    padding: 0;
    margin: 0;
}
.list-inline > li {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.bm > span { font-weight: 600; }
.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#map-content, #map-canvas {
    width: 800px;
    height: 800px;
    position: relative;
    margin: auto;
}
#marker-tooltip {
    display: none;
    position: absolute;
    width: 210px;
    height: 240px;
    background-color: #fff;
    z-index: 1000000;
    border-radius: 5px;
    /* box-shadow: 0 0 25px #7e7e7e; */
    -webkit-box-shadow: 0px 1px 20px 10px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 20px 10px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 20px 10px rgba(0,0,0,0.15);
}
#marker-tooltip .tooltip-content { height: 100%; }
#marker-tooltip .tooltip-content .tooltip-content-img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#marker-tooltip .body-content { padding: 10px; }
#marker-tooltip .body-content .price-holder { margin-bottom: 10px; }
#marker-tooltip .body-content .address-content { margin-top: 2px; }