html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
    line-height: 33px;

}
body { background: none; }
header, footer { display: none; }
#imageurl { width: 800px; }
#map-canvas { height: 800px; }

#marker-tooltip {
    display: none;
    position:absolute;
    width: 300px;
    height: 500px;
    background-color: #ccc;
    margin: 15px;
}
